.card-product {
  overflow: hidden;
  height: 142px;
  background: white;
  flex-grow: 1; 
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.5;
}
.blacklink a {
	color: black !important;
}
.card-product img {
  height: 100%;
  width: 35%;
  object-fit: cover;
}

.card-product:hover {
	transform: scale(1.01);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  color: black;
}
.cards {
	display: flex;
	justify-content: space-around;
	width: 100vw;
}
.card-category {
  background-size: cover;
  background-position: center;
  margin: 20px;
  margin-top: 10px;
  height: 172px;
  width: 350px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.5;
}

.card-category:hover {
	transform: scale(1.01)
}